#input-display{
    border: solid gray 1px;
    height: 50px;
    background-color: aliceblue;
    text-align: right;
    padding: 10px 10px;
    overflow: hidden;
    font-size: 25px;
}
#input-display:disabled{
    color: gray;
}

header{
    background-color: #20c997;
    text-align: center;
    color: white;
    padding-top: 10px;
    
}

footer{
    
    background-color: #20c997;
    color: white;
}

footer p{
    padding: 10px;
}

.cuerpo{
    border: solid black 1px;
}